.place .place-name {
    display: inline-block;
}

/* price */
.place .place-price {
    border-radius: 50%;
    border: 1px solid black;
    padding: 5px;
    float: right;
    margin: 0 10px 0 10px;
}

.place .place-price:before {
    content: '$';
    display: inline-block;
}

/* infractions */
.place .place-infractions {
    padding: 5px;
    border: 1px solid black;
    margin: 0 10px 0 10px;
    display: inline-block;
}

.place .place-description {
    margin-bottom: 5px;
}

.place .place-foods {

}

.place {
    margin: 30px 0 30px 0;
}

.low {
    background-color: rgba(173, 255, 47, 0.8);
}

.low-med {
    background-color: rgba(255, 255, 0, 0.8);
}

.hi-med {
    background-color: rgba(255, 165, 0, 0.8);
}

.hi {
    background-color: rgba(255, 69, 0, 0.8);
    color: white;
}