/* Carousel */
#splash-carousel > div {
    max-height: 75vh;
    overflow: hidden;
}

#splash-carousel {
    border: 1px solid #756566;
    margin-top: 50px;
}

section {
    padding: 40px 0 40px 0;
}

section > section {
    padding: 20px 0 20px 0;
}

body {
    background-image: url("./../img/other_bg.jpg");
    background-repeat: repeat;
}

h1, h2, h3, h4, p, li {
    color: #756566;
}

h1 {
    font-size: 50px;
    font-family: 'Chivo', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 35px;
    font-family: 'Chivo', sans-serif;
}

h4 {
    font-size: 22px;
}

.navigation {
    text-align: center;
    color: #756566;
}

p, li {
    font-size: 18px;
}

hr {
    background-color: #756566;
    border: 1px solid #756566;
    border-left-width: 0;
    border-right-width: 0;
}

hr.double-line:after {
    position: relative;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    margin: -5px 0 0 0;
    background-color: #756566;
}

/* Links */
a, a:visited {
    color: orange;
}

a:hover {
    color: orange;
}


/* Orange Draft Logo */

.logo-img {
    width: 50px;
    margin-bottom: 10px;
}

.logo-text-light > p, .logo-text-dark > p {
    display: inline-block;
    margin: 0;
    font-family: 'Audiowide', cursive;
    font-size: 10px;
    text-transform: uppercase;
}

.logo-text-light > p {
    color: white;
}

.logo-text-dark > p {
    color: #756566;
}

.logo-text-light > p::first-letter, .logo-text-dark > p::first-letter {
    color: orange;
    font-size: 15px;
}

/* Borders */
.border-left {
    border-left: 0.5px solid #756566 !important;
}

.border-right {
    border-right: 0.5px solid #756566 !important;
}

.border {
    border: 0.5px solid #756566 !important;
}

/* Icon Grid */

.icon-grid {
  font-size: 0;
  width: 100%;
  text-align: center;
}

.icon-grid a {
  display: inline-block;
  background-color: #756566;
  color: white;
  text-decoration: none;
  padding: 5px;
  height: 100px;
  margin: 5px;
  font-size: 12px;
}

.icon-grid.w-3 a {
    width: calc(33% - 17px);
}

.icon-grid.w-2 a {
    width: calc(50% - 17px);
}

.icon-grid i {
  font-size: 40px;
}

.icon-grid table tr:nth-child(1) {
  vertical-align: middle;
}

.icon-grid table tr:nth-child(2) {
  vertical-align: bottom;
}

.icon-grid table {
  height: 100%;
  width: 100%;
}