.accordion .card {
    margin: 10px 0 10px 0;
}

button {
    background-color: #756566;
    color: white;
    width: 100%;
    padding: 15px !important;
    font-size: 22px !important;
}

button:not(.no-icon)::after {
    font-family: FontAwesome;
    content: '\f077';
    float: right;
}

button.collapsed:not(.no-icon)::after {
    content: '\f078';
}

.question::after {
    content: '"What Can I Do?"';
    font-style: italic;
}