p.description:before {
    content: 'Description: ';
}

p.offered:before {
    content: 'Offered: ';
}

p.prereqs:before {
    content: 'Prerequisites: ';
}

p.notes:before {
    content: 'Notes: ';
}

p.profs:before {
    content: 'Professors: ';
}

p.description:before, p.offered:before, p.prereqs:before,
p.notes:before, p.profs:before {
    font-weight: bold; 
}