/* Off-Campus */
#off-campus .place .place-name {
    display: inline-block;
}
/* price */
#off-campus .place .place-price {
    border-radius: 50%;
    border: 1px solid black;
    padding: 5px;
    float: right;
    margin: 0 10px 0 10px;
}
#off-campus .place .place-price:before {
    content: '$';
    display: inline-block;
}
/* infractions */
#off-campus .place .place-infractions {
    padding: 5px;
    border: 1px solid black;
    margin: 0 10px 0 10px;
    display: inline-block;
}
#off-campus .place .place-description {
    margin-bottom: 5px;
}
#off-campus .place .place-description::before, #off-campus .place .place-foods::before {
    font-weight: bold;
}
#off-campus .place .place-description::before {
    content: 'Cuisine: ';
}
#off-campus .place .place-foods::before {
    content: 'Menu Items: '
}
#off-campus .place {
    margin: 30px 0 30px 0;
}
#off-campus .low {
    background-color: rgba(173, 255, 47, 0.8);
}
#off-campus .low-med {
    background-color: rgba(255, 255, 0, 0.8);
}
#off-campus .hi-med {
    background-color: rgba(255, 165, 0, 0.8);
}
#off-campus .hi {
    background-color: rgba(255, 69, 0, 0.8);
    color: white;
}
#off-campus #suggestion {
    display: none;
    margin-top: 20px;
}

/* Splash */
img.splash {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 100%;
}

p.location::before {
    content: 'Location: ';
}

p.hours::before {
    content: 'Hours: ';
}

p.note::before {
    content: 'Note: ';
}

p.location::before, p.hours:before, p.note::before {
    font-weight: bold;
}

/* On-Campus */
#on-campus .place {
    margin-bottom: 40px;
}

#on-campus .place .branch {
    margin: 10px 0 30px 20px;
}